{% extends 'base.html' %}

{% block content %}

<section class="page-banner">

    <div class="container">

        <h1>
            Contact
        </h1>

    </div>

</section>

<section class="content-section">

    <div class="container">

        <div class="row">

            <div class="col-lg-6">

                <h3>
                    Nous contacter
                </h3>

                <p>
                    Téléphone :
                    +221 XX XXX XX XX
                </p>

                <p>
                    Email :
                    contact@andnawle.sn
                </p>

            </div>

            <div class="col-lg-6">

                <form>

                    <input
                        class="form-control mb-3"
                        placeholder="Nom"
                    >

                    <input
                        class="form-control mb-3"
                        placeholder="Email"
                    >

                    <textarea
                        class="form-control"
                        rows="5"
                        placeholder="Message"
                    ></textarea>

                    <button
                        class="btn btn-primary mt-3"
                    >
                        Envoyer
                    </button>

                </form>

            </div>

        </div>

    </div>

</section>

{% endblock %}